.canvas-table {
  table-layout: fixed;
}

td.tall-cell {
  height: 20em;
}

td.short-cell {
  height: 10em;
}

.canvas-cell-image {
  float: right;
  padding-top: 2px;
}

.add-item-button span {
  padding-bottom: 3px;
}

.add-item-button {
  display: none;
}

.canvas-cell:hover .add-item-button {
  display: block;
}

.canvas-cell-item .normal {

}

.canvas-cell-item .editing {
}